@import "global/variables.scss";
@import "global/mixins.scss";

.filter__list {
  margin-top: 23px;
  padding: 0;
  list-style: none;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.filter__button-priority {
  @include button;
  width: 240px;
  position: relative;
  border-radius: 5px;
  text-align: start;
  height: 40px;
  margin-bottom: 0;
  margin-top: -13px;

   &:hover,
   &:focus{
     background-color: #F2F2F2;
   }

   &:active {
    background-color: #BDBDBD;
  }
}

.filter__drop-menu {
  display: none;
}

.filter-open {
  display: block;
}

.filter__button-title {
 padding-left: 43px;
  font-size: 12px;
    line-height: 14px;
    color: #333333;
}

.filter__list-item:not(:last-child) {
  margin-bottom: 13px;
}

.filter__title {
  display: flex;
  padding-left: 46px;
  padding-bottom: 18px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #333333;
  border-bottom: 1px solid #C4C4C4;
}

.filter__button-arrow {
  position: relative;
  display: flex;
  padding: 0;
  background: 0 0;
  border: 0;
  outline: 0;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    left: 16px;
    top: 12px;
    width: 17px;
    height: 9px;
    background: url("../img/icon-arrow.svg");
    transform: rotate(-90deg);
  }
}

.filter__button-arrow--open::before {
  transform: rotate(0deg);
}

@media (min-width: $tablet-width) {
  .filter__button-title {
   font-size: 18px;
  line-height: 21px;
  top: 1px;
  position: relative;
  }

  .filter__button-priority {
    width: 290px;
  }

  .filter__title {
    width: 256px;
    padding-bottom: 12px;
    padding-left: 50px;
    font-size: 18px;
    line-height: 21px;
  }

  .filter__button-arrow::before {
    left: 14px;
    top: 19px;
    width: 21px;
    height: 12px;
    background: url("../img/icon-arrow_1.svg");
  }
}
