@import "global/variables.scss";

.header {
  height: 40px;
  background-color: #f2994a;
}

.header__wrap {
  display: flex;
  position: relative;
  margin: 0 auto;
}

.header__title {
  left: 16%;
  position: relative;
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #F2F2F2;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.header__nav-toggle {
  position: absolute;
  top: 12px;
  left: 13px;
  display: block;
  width: 24px;
  height: 18px;
  padding: 0;
  background: 0 0;
  border: 0;
  outline: 0;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 1px;
    background-color: #FFFFFF;
    box-shadow: 0 9px 0 0 #FFFFFF, 0 17px 0 0 #FFFFFF;
  }
}

.header__add-task {
  display: flex;
  position: absolute;
  right: 40px;
  top: 5px;
  padding: 0;
  background: 0 0;
  border: 0;
  outline: 0;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    background: url("../img/icon-plus.svg");
  }

  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: #F2F2F2;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
  }
}

@media (min-width: $tablet-width) {
  .header {
    height: 74px;
  }

  .header__nav-toggle {
    display: none;
  }

  .header__title {
    left: 2%;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
  }

  .header__add-task::before {
    top: 16px;
    left: -5px;
    width: 30px;
    height: 30px;
    background: url("../img/icon-plus_1.svg");
  }

  .header__add-task::after {
    top: 6px;
    left: -15px;
    width: 50px;
    height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .header__title {
     left: 1.4%;
  }

  .header__add-task {
    right: 56px;
  }
}
